/*///////////////////////// RESETEO UNIVERSAL /////////////////////////*/
* {
	border: 0;
	margin: 0;
    padding: 0;
}
article, figcaption, figure, footer, header, hgroup, nav, section {
	display: block;
}
/* estilo del sitio */
/*///////////////////////// ETIQUTAS /////////////////////////*/
body {
	background: #000;
	font-family: "Open Sans";
	font-size: 1em;
	font-weight: 300;
	color: #FFF;
}
h1{
	text-align: center;
	margin-top: 7em;
	font-size: 3em;
	color: #ed174b;
	font-weight: 200;
	font-family: "Open Sans";
}
/*///////////////////////// IDENTIFICADORES /////////////////////////*/

/*//////////////////// CLASS ////////////////////////////*/
.fade{
	opacity: 1;
	filter:alpha(opacity=10);
	-ms-transition: all 1s ease-in;
	-moz-transition: all 1s ease-in;
	-o-transition: all 1s ease-in;
	-webkit-transition: all 1s ease-in;
	transition: all 1s ease-in;
}
.fade:hover{
	opacity: 0.7;
	filter:alpha(opacity=7);
	-ms-transition: all 1s ease-out;
	-moz-transition: all 1s ease-out;
	-o-transition: all 1s ease-out;
	-webkit-transition: all 1s ease-out;
	transition: all 1s ease-out;
}

/*//////////////////// MEDIA QUERY condicionales, Responsive Designe ////////////////////////////*/



