/*///////////////////////// MENU /////////////////////////*/
#cssmenu ul,
#cssmenu li,
#cssmenu span,
#cssmenu a {
  margin: 0;
  padding: 0;
  position: relative;
}
#cssmenu {
  height: 40px;
  border-radius: 5px 5px 0 0;
  -moz-border-radius: 5px 5px 0 0;
  -webkit-border-radius: 5px 5px 0 0;
  background: #2e4c64;
  background: -moz-linear-gradient(top, #4e7784 0%, #2e4c64 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #4e7784), color-stop(100%, #2e4c64));
  background: -webkit-linear-gradient(top, #4e7784 0%, #2e4c64 100%);
  background: -o-linear-gradient(top, #4e7784 0%, #2e4c64 100%);
  background: -ms-linear-gradient(top, #4e7784 0%, #2e4c64 100%);
  background: linear-gradient(to bottom, #4e7784 0%, #2e4c64 100%);
  filter: progid:DXImageTransform.Microsoft.Gradient(StartColorStr='#4e7784', EndColorStr='#2e4c64', GradientType=0);
  max-width: 960px;
  margin: 0 auto;
  box-shadow: 0px .5em 1.5em rgba(0,0,0,.5)
}
#cssmenu:after,
#cssmenu ul:after {
  content: '';
  display: block;
  clear: both;
}
#cssmenu a {
  background: #2e4c64;
  background: -moz-linear-gradient(top, #4e7784 0%, #2e4c64 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #4e7784), color-stop(100%, #2e4c64));
  background: -webkit-linear-gradient(top, #4e7784 0%, #2e4c64 100%);
  background: -o-linear-gradient(top, #4e7784 0%, #2e4c64 100%);
  background: -ms-linear-gradient(top, #4e7784 0%, #2e4c64 100%);
  background: linear-gradient(to bottom, #4e7784 0%, #2e4c64 100%);
  filter: progid:DXImageTransform.Microsoft.Gradient(StartColorStr='#4e7784', EndColorStr='#2e4c64', GradientType=0);
  color: #ffffff;
  display: inline-block;
  font-family:  "Open Sans", sans-serif;
  font-size: .8em;
  line-height: 40px;
  padding: 0 20px;
  text-decoration: none;
}
#cssmenu ul {
  list-style: none;
}
#cssmenu > ul {
  float: left;
}
#cssmenu > ul > li {
  float: left;
}
/*Flechita*/
#cssmenu > ul > li:hover:after {
  content: '';
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  left: 50%;
  bottom: 0;
  border-left: .5em solid transparent;
  border-right: .5em solid transparent;
  border-bottom: .5em solid #0fa1e0;
  margin-left: -.5em;
}
/*Flechita*/
#cssmenu > ul > li:first-child a {
  border-radius: 5px 0 0 0;
  -moz-border-radius: 5px 0 0 0;
  -webkit-border-radius: 5px 0 0 0;
}
#cssmenu > ul > li:last-child a {
  border-radius: 0 5px 0 0;
  -moz-border-radius: 0 5px 0 0;
  -webkit-border-radius: 0 5px 0 0;
}
#cssmenu > ul > li.active a {
  box-shadow: inset 0 0 3px #000000;
  -moz-box-shadow: inset 0 0 3px #000000;
  -webkit-box-shadow: inset 0 0 3px #000000;
  background: #070707;
  background: -moz-linear-gradient(top, #26262c 0%, #070707 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #26262c), color-stop(100%, #070707));
  background: -webkit-linear-gradient(top, #26262c 0%, #070707 100%);
  background: -o-linear-gradient(top, #26262c 0%, #070707 100%);
  background: -ms-linear-gradient(top, #26262c 0%, #070707 100%);
  background: linear-gradient(to bottom, #26262c 0%, #070707 100%);
  filter: progid:DXImageTransform.Microsoft.Gradient(StartColorStr='#26262c', EndColorStr='#070707', GradientType=0);
}
#cssmenu > ul > li:hover > a {
  background: #070707;
  background: -moz-linear-gradient(top, #26262c 0%, #070707 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #26262c), color-stop(100%, #070707));
  background: -webkit-linear-gradient(top, #26262c 0%, #070707 100%);
  background: -o-linear-gradient(top, #26262c 0%, #070707 100%);
  background: -ms-linear-gradient(top, #26262c 0%, #070707 100%);
  background: linear-gradient(to bottom, #26262c 0%, #070707 100%);
  filter: progid:DXImageTransform.Microsoft.Gradient(StartColorStr='#26262c', EndColorStr='#070707', GradientType=0);
  box-shadow: inset 0 0 3px #000000;
  -moz-box-shadow: inset 0 0 3px #000000;
  -webkit-box-shadow: inset 0 0 3px #000000;
}
#cssmenu .has-sub {
  z-index: 1;
}
#cssmenu .has-sub:hover > ul {
  display: block;
}
#cssmenu .has-sub ul {
  display: none;
  position: absolute;
  width: 200px;
  top: 100%;
  left: 0;
}
#cssmenu .has-sub ul li {
  *margin-bottom: -1px;
}
#cssmenu .has-sub ul li a {
  background: #0fa1e0;
  border-bottom: 1px dotted #6fc7ec;
  filter: none;
  font-size: 11px;
  display: block;
  line-height: 120%;
  padding: 10px;
}
#cssmenu .has-sub ul li:hover a {
  background: #0c7fb0;
}
#cssmenu .has-sub .has-sub:hover > ul {
  display: block;
}
#cssmenu .has-sub .has-sub ul {
  display: none;
  position: absolute;
  left: 100%;
  top: 0;
}
#cssmenu .has-sub .has-sub ul li a {
  background: #0c7fb0;
  border-bottom: 1px dotted #6db2d0;
}
#cssmenu .has-sub .has-sub ul li a:hover {
  background: #095c80;
}
/*///////////////////////// FIN MENUE /////////////////////////*/
@media screen and (max-width: 600px){
  #cssmenu a {
    padding: 0 10px;
  }
}