/*
Reglas paraq tablas con CSS

1)Primero se define los estilos para ETIQUETAS html, por ejemplo: Header, footer, div, a, p, etc.

2)Despues se define los estilos para IDENTIFICADORES (id), los id's son elementos unicos en el html,en el css se declara con el simbolo de # ejemplo: #nombre-id{ estilos } y en el html se llaman mediante el atributo id ejemplo <di id="publisidad"> </div>

3) Al final se define los estilos para las CLASES (class), las clases son elementos que se pueden repetir 'n' veces en el html, en el css se declaran con el simbolo de . ejemplo: .nombre-clase{ estilos } y en el html se llaman mediante el atributo class, ejemplo <div class="borde-logos"></div>

4)Todos los estilos se ordenan conforme van a pareciendo en la disposición del html, teniendo en cuenta la prioridad anterior, es decir, primero etiquetas html, luego id's y al final clases.

5)Los atributo se declaran de la siguiente forma: { atributo1:valor1; atributo2:valor2; ... ; atributoN;valorN }

6)Todos los atributos se ordenan alfabeticamente, por ejemplo si tengo width, color, display, entonces el ordenseria: priemero color, luego display y al final width.

7)Si tenemos estilos para el comodin *, o para las etiquetas html y/o body, estos estilos son los primeros en definirce.

8) en el body debemos declarar un tamaño de fuentes global.

9)Si tenemos estilos para resetear elementos html, estos iran antes de cualquier estilo.
16px = 12pt =100% = 1em (ancho de M)
*/
/*///////////////////////// RESETEO UNIVERSAL /////////////////////////*/
* {
	border: 0;
	margin: 0;
    padding: 0;
}
article, figcaption, figure, footer, header, hgroup, nav, section {
	display: block;
}
/* estilo del sitio */
@font-face {
	font-family: "Chalkduster";
	font-style: normal;
	font-weight: normal;
	src: url("../fonts/Chalkduster.ttf");
	src: url("../fonts/Chalkduster.ttf?#iefix") format("truetype");
}
/*///////////////////////// ETIQUTAS /////////////////////////*/
body {
	background-image: url(../img/background.jpg);
	background-repeat: no-repeat;
	background-position: center top;
	color: rgb(200,200,200);
	font-family: "Open Sans", "Chalkduster";
	font-size: 1em;
	font-weight: 300;
}
a{
	color: #555;
	font-weight: normal;
	text-decoration: none;
}
a:hover{
	color: #4A7990;
}

fieldset {
	border-radius: .5em;
	padding: 1em;
}

figcaption{
	padding: 0.25em;
	text-align: center;
} 
figure{
	display: inline-block;
	margin: 0 auto;
	text-align: center;
	vertical-align: top;
}

footer{
	background: -moz-linear-gradient(left,  rgba(229,229,229,0) 0%, rgba(229,229,229,1) 50%, rgba(229,229,229,0) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(229,229,229,0)), color-stop(50%,rgba(229,229,229,1)), color-stop(100%,rgba(229,229,229,0))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  rgba(229,229,229,0) 0%,rgba(229,229,229,1) 50%,rgba(229,229,229,0) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  rgba(229,229,229,0) 0%,rgba(229,229,229,1) 50%,rgba(229,229,229,0) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  rgba(229,229,229,0) 0%,rgba(229,229,229,1) 50%,rgba(229,229,229,0) 100%); /* IE10+ */
	background: linear-gradient(to right,  rgba(229,229,229,0) 0%,rgba(229,229,229,1) 50%,rgba(229,229,229,0) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00e5e5e5', endColorstr='#00e5e5e5',GradientType=1 ); /* IE6-9 */
	color: #000;
	font-size: .6em;
	margin: 0.5em auto;
	max-width: 960px;
	padding: 0.25em;
	text-align: center;
    background-repeat: no-repeat;
}
form {
	width: 100%;
}
header{
	font-family: "Chalkduster";
	margin: 0 auto;
	max-width: 90%;
	text-align: center;
    background-repeat: no-repeat;
}
h1{
	color: white;
	font-size: 1.5em;
	margin: 0 auto;
	max-width: 90%;
	opacity: .4;
	text-align: center;
}
h2{
	color: #4A7990;
	font-size: 2em;
	font-weight: 300;
	padding: .5em;
	text-align: left;
}
h3{
	color: #1E6381;
	font-size: 2em;
	font-weight: 300;
}
iframe {
	border-radius: .5em;
	margin: .3em auto;
	width: 100%;
}
img, video {
	max-width: 100%;
}

input[type="email"], input[type="text"], textarea {
	background: #EEE;
	border-radius: .25em;
	color: #000;
	font-size: 1.25em;
	margin: 0 auto;
	width: 50%;
}

input[type="email"]:focus, input[type="text"]:focus, textarea:focus {
	background: #c6ecf9;
}

input[type="submit"], input[type="submit"]:hover {
	background: #4A7990;
	border-radius: .25em;
	font-size: 1.25em;
	margin-top: .5em;
	padding: .25em;
}
input[type="submit"]:hover {
	background: #4A7995;
	cursor: pointer;
}


label{
	cursor: pointer;
	font-size: 1em;
}
legend{
	color: #4A7995;
	font-size: 1.1em;
	font-weight: 300;
}
textarea{
	resize:none;
}


/*///////////////////////// IDENTIFICADORES /////////////////////////*/
section#portfolio, section#clientes, section#contacto, section#videos, section#graficas, section#redessociales, section#montajes,section#website  {
	background-image: url(../img/madera.png);
	margin: 0 auto;
}

section#contenedor-inicio, section#timelinetw, section#contenedor, section#ofertas, aside{
	margin: 0 auto;
	text-align: center;
}
section#website, section#redessociales, section#graficas{
	max-width: 93.7%;
	padding:  .5em;
	text-align: left;
}
section#contenedor, section#contenedor-inicio{
	max-width: 960px;
	padding: 0;	
}
/*///////////////////////// INICIO /////////////////////////*/
section#contenedor-inicio{
	height: 320px;
	margin-top: 1em;
}
section#slider{
	-moz-box-shadow: 0 .5em 1.5em rgba(0,0,0,.5);
	-o-box-shadow: 0 .5em 1.5em rgba(0,0,0,.5);
	-webkit-box-shadow: 0 .5em 1.5em rgba(0,0,0,.5);
	background: #FFF;
	box-shadow: 0 .5em 1.5em rgba(0,0,0,.5);
	margin-bottom: .5em;
	margin-left:auto;
	margin-right:auto; 
	max-width: 959px;
	text-align: center;
}
section#ofertas,  aside{
	background: rgba(0,0,0,.5);
	border-radius: 0.5em;
	box-shadow: inset 2px 2px 2px 1px rgba(0, 0, 0, 0.4);
	display: inline-block;
	height: 100%;
	margin: 0.25em auto;
	padding: .4em;
	vertical-align: top;
	width: 50%;
    -webkit-box-shadow: inset 2px 2px 2px 1px rgba(0, 0, 0, 0.4);
}
aside{
	height: 67%;
	width: 7%;
}
section#timelinetw{
	display: inline-block;
	vertical-align: top;

}
/*///////////////////////// DISEÑO /////////////////////////*/
article#website, article#redessociales, article#graficas{
	display: inline-block;
	max-width: 45%;
	padding: 1em;
	vertical-align: top;
}
section#redessociales {
	border-radius: 0 0 .4em .4em;
	margin-bottom: 3em;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0;
}
article#redessociales{
	max-width: 85%;
	padding-bottom: 1em;
	padding-left: 1em;
}
section#graficas {
	border-radius: 0 0 .4em .4em;
	margin-bottom: 3em;
	min-height: 650px;
}
article#graficas{
	font-weight: lighter;
	max-width: 75%;
}
/*///////////////////////// MULTIMEDIA /////////////////////////*/
section#videos {
	max-width: 100%;
	text-align: center;
}
article#videos p {
	font-size: 2em;
	padding: 1em;
	text-align: center;
}
article#videos-parrafo, article#portfolio-parrafo, article#clientes-parrafos{
	background: rgba(255,255,255,.5);
	border-radius: .5em;
	box-shadow: .5em .5em 1em rgba(0,0,0,.7);
	color: black;
	margin-left: 1em;
	padding: .5em;
	width: 70%;
}

article#videos-parrafo {
	text-align: left;
}
section#montajes {
	max-width: 100%;
	text-align: center;
}
/*///////////////////////// PORTFOLIO, CLIENTES Y CONTACTO /////////////////////////*/
section#portfolio, section#clientes {
	border-radius: 0 0 .5em .5em;
	margin-bottom: 2em;
	max-width: 100%;
	padding-bottom: 1em;
	padding-left: 1em;
	text-align: left;
}
article#info-contacto, article#contactanos {
	border-radius: .5em;
	border: .1em solid rgba(255,255,255,.3);
	margin-top: 4em;
	min-height: 144px;
	padding: .5em;
}
article#portfolio-parrafo {
	display: inline-block;
	text-align: justify;
	vertical-align: top;
}
div.portfolio{
	margin: .5em auto;
}
div.portfolio article{
	display: inline-block;
	margin: 0 auto;
	vertical-align: top;
}
section#clientes {
	box-shadow: inset 2px 2px 2px 1px rgba(0, 0, 0, 0.4);
	padding:  .5em;
}
article#clientes-parrafos {
	margin: 1em 1em;
}
section#contacto {
	border-radius: 0 0 .5em .5em;
	margin-bottom: 5em;
	max-width: 93.7%;
	padding: .5em;
	text-align: justify;
	vertical-align: top;
}
img#contactanos {
	float: left;
	margin-top: .3em;
	max-width: 100%;
}

span.datos-contacto {
	color: #4A7995;
	margin-left: 1em;
}
section#sitemap{
	color: #999;
	margin-bottom: 3em;
	margin-left: auto;
	margin-right: auto;
	margin-top: 7em;
	max-width: 900px;
	padding-left: 5em;
}
section#html5{
	margin: 0 auto;
	text-align: center;
}
/*//////////////////// CLASS ////////////////////////////*/
.excelencia{
	position: absolute;
	z-index: -1;
	right: 0;
	top: 2em;
}
.fade{
	opacity: 1;
	filter:alpha(opacity=10);
	-ms-transition: all 0.5s ease-in;
	-moz-transition: all 0.5s ease-in;
	-o-transition: all 0.5s ease-in;
	-webkit-transition: all 0.5s ease-in;
	transition: all 0.5s ease-in;
}
.fade:hover{
	opacity: 0.7;
	filter:alpha(opacity=7);
	-ms-transition: all 0.5s ease-out;
	-moz-transition: all 0.5s ease-out;
	-o-transition: all 0.5s ease-out;
	-webkit-transition: all 0.5s ease-out;
	transition: all 0.5s ease-out;
}

.columnas   {
	color: #333;
	display: inline-block;
	font-family: "Open Sans", sans-serif;
	font-size: .75em;
	height: 10%;
	text-align: left;
	text-decoration: none;
	vertical-align: top;
	width: 24%;
}

.precios {
	color: #f68a21;
	font-weight: 300;
	font-size: 1.5em;
}
.redonda {
	border-radius: 4.687em;
	box-shadow: 5px 5px 10px rgba(0,0,0, .7)

}
.invisible {
	display: none;
}

/*//////////////////// MEDIA QUERY condicionales, Responsive Designe ////////////////////////////*/

@media(max-width: 1080px){
	footer{
	margin-top: 5em;
	}
	h1{
		font-size: 1.5em;
	}
}
@media screen and (max-width: 800px){
	h1{
		font-size: 1em;
	}
	section#ofertas{
		width: 90%;
		height: 150%;
		margin-bottom: 4em;
	}
	section#contenedor-inicio{
		min-height: 900px;
		}
	input[type="email"], input[type="text"], textarea{
		width: 95%
	}
	input[type="search"]{
		display: none;
	}
	input[type=search]{
		margin-left: 10em;
	}
	article#website{
		display: block;
		max-width: 90%;
	}
	article#graficas{
		display: block;
		max-width: 95%;
	}
	aside{
		width: 15%;
	}
}
@media screen and (max-width: 600px){
	section#ofertas{
		height: 120%;
	}
	
	input[type="email"], input[type="text"], textarea{
		width: 95%
	}
	input[type=search]{
		margin-left: 22em;
	}
	article#website{
		display: block;
		max-width: 90%;
	}
	article#graficas{
		display: block;
		max-width: 95%;
	}
	aside{
		width: 15%;
	}
}